.dreamliner {
    height: 600px;
    padding: 100px 30px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Boeing_747-400LCF_Dreamlifter.jpg/1200px-Boeing_747-400LCF_Dreamlifter.jpg);

    background-size: cover;
}

h1 {
    font-weight: 300!important
}

.accent-text {
    font-style: italic;
}